{% extends "layout.html" %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Stock Tracker</h5>
            </div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label for="stockSymbol">Stock Symbol</label>
                    <input type="text" class="form-control" id="stockSymbol" value="AAPL">
                </div>
                <div class="form-group mb-3">
                    <label for="timePeriod">Time Period</label>
                    <select class="form-control" id="timePeriod">
                        <option value="1mo">1 Month</option>
                        <option value="3mo">3 Months</option>
                        <option value="6mo">6 Months</option>
                        <option value="1y">1 Year</option>
                        <option value="5y">5 Years</option>
                    </select>
                </div>
                <button id="updateChart" class="btn btn-primary">Update Chart</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Market Summary</h5>
            </div>
            <div class="card-body">
                <div id="marketSummary">
                    Loading market data...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5>Stock Price Chart</h5>
            </div>
            <div class="card-body">
                <div id="stockChart" style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Performance Metrics</h5>
            </div>
            <div class="card-body">
                <div id="performanceMetrics">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Opening Price</td>
                                <td id="openingPrice">-</td>
                            </tr>
                            <tr>
                                <td>Closing Price</td>
                                <td id="closingPrice">-</td>
                            </tr>
                            <tr>
                                <td>High</td>
                                <td id="highPrice">-</td>
                            </tr>
                            <tr>
                                <td>Low</td>
                                <td id="lowPrice">-</td>
                            </tr>
                            <tr>
                                <td>Volume</td>
                                <td id="volume">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Price Trend</h5>
            </div>
            <div class="card-body">
                <div id="trendChart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
